* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
  background-color: #0a0a0a;
  color: #ededed;
}
